@model Task5.ViewModels.LoginModel

<div class="modal modal-signin position-static d-block py-5" tabindex="-1" role="dialog" id="modalSignin">
    <div class="modal-dialog" role="document">
        <div class="modal-content rounded-5 shadow">
            <h2 class="fw-bold m-auto">Вход</h2>
            <small class="text-center">Вы должны быть авторизованы для получения доступа к функционалу Web-Приложения.</small>
            <div class="modal-body p-5 pt-0">
                <form asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
                    <div class="form-floating mb-3">
                        <label for="floatingInput">Введите почту</label>
                        <input type="text" asp-for="Email" class="form-control rounded-4" id="floatingInput" placeholder="name@example.com" />
                        <span asp-validation-for="Email" />
                    </div>
                    <div class="form-floating mb-3">
                        <label for="floatingPassword">Введите пароль</label>
                        <input type="password" asp-for="Password" class="form-control rounded-4" id="floatingPassword" placeholder="Password" />
                        <span asp-validation-for="Password" />
                    </div>
                    <button class="w-100 mb-2 btn btn-lg rounded-4 btn-primary" type="submit">Войти</button>
                </form>

                <hr class="my-4">
                <a class="text-muted" asp-action="Register" asp-controller="Account">Регистрация</a>
                <div class="validation" asp-validation-summary="All"></div>
            </div>
        </div>
    </div>
</div>