@model Task5.ViewModels.RegisterModel
    
<div class="modal modal-signin position-static d-block py-5" tabindex="-1" role="dialog" id="modalSignin">
    <div class="modal-dialog" role="document">
        <div class="modal-content rounded-5 shadow">
            <div class="modal-header p-5 pb-4 border-bottom-0">
                <h2 class="fw-bold mb-0">Регистрация</h2>
            </div>

            <div class="modal-body p-5 pt-0">
                <form asp-action="Register" asp-controller="Account" asp-anti-forgery="true">
                    <div asp-validation-summary="ModelOnly"></div>

                    <div class="form-floating mb-3">
                        <label for="floatingInput">Email address</label>
                        <input type="email" class="form-control rounded-4" id="floatingInput" placeholder="name@example.com" asp-for="Email">
                        <span asp-validation-for="Email" />
                    </div>
                    <div class="form-floating mb-3">
                        <label for="floatingInput">Your name</label>
                        <input type="text" class="form-control rounded-4" id="floatingInput" placeholder="Angel" asp-for="Name">
                        <span asp-validation-for="Name" />
                    </div>
                    <div class="form-floating mb-3">
                        <label for="floatingPassword">Password</label>
                        <input type="password" class="form-control rounded-4" id="floatingPassword" placeholder="Password" asp-for="Password">
                        <span asp-validation-for="Password" />
                    </div>
                    <div class="form-floating mb-3">
                        <label for="floatingPassword">Confirm password</label>
                        <input type="password" class="form-control rounded-4" id="floatingPassword" placeholder="Password" asp-for="ConfirmPassword">
                        <span asp-validation-for="ConfirmPassword" />
                    </div>
                    <button class="w-100 mb-2 btn btn-lg rounded-4 btn-primary" type="submit">Sign up</button>
                </form>
                <small class="text-muted">
                    <a asp-action="Login" asp-controller="Account">Go to Login.</a>
                </small>
            </div>
        </div>
    </div>
</div>